.container {
  flex: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 50%;
  margin: 0 auto;
}
.close_icon:hover {
  background-color: black;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.product_img {
  width: 300px;
  height: 300px;
}
.product_title {
  color: var(--red-color);
  font-weight: bold;
  margin: 10px 0;
  font-size: 20px;
}
.product_name {
  color: var(--main-color);
}

/* Query */
@media (max-width: 991px) {
  .container {
    margin: 10px;
    width: 100%;
  }
  .product_img {
    width: 150px;
    height: 150px;
  }
  .product_title {
    font-size: 16px;
  }
}
